body {

    font-family: Arial, Helvetica, sans-serif ;
    text-align: center;
    padding: 0;
    margin: 0;
    
}

#container {
    font-family: Arial, Helvetica, sans-serif ;

    width: 70%;
    text-align: left;
    border: 1px solid grey;
    color: grey;
    font-size: 15px;
    margin: 0 auto;
    
}

#post {
    padding: 2%;

}


#cabecer {

    background: #33A;
    box-shadow: 0px 2px 20px 0px rgb(0, 0,0, 0.5);
    font-weight: bold;
    font-size: 20px;
    color: white;
    margin: 0; 
    padding: 0.5em;
    

}


#pie {

    background: #33A;
    box-shadow: 0px 2px 20px 0px rgb(0, 0,0, 0.5);
    color: white;
    padding: 0.2em;
    font-size: 15px;
text-align: center;
}

#container h1
{ font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 20px;
color: black;
}